<div class="wrapper">
  <div class="leftdiv">
    <div class="greeting">
      <h3>Welcome,</h3>
      <h1 *ngFor="let name of jobseeker.name.split(' ')">{{name}}</h1>

    </div>
  </div>
  <div class="rightdiv">
    <div class="detailsList">
        <h5>unique id: {{jobseeker.id}}</h5>
        <span class="listItem">
            <h3>Email:</h3>
            <h4 class="itemValue">{{jobseeker.email}}</h4>
        </span>
        <span class="listItem">
            <h3>Password:</h3>
            <h4 class="itemValue">{{jobseeker.password}}</h4>
        </span>
        <span class="listItem">
            <h3>Skills:</h3>
            <div class="show-skills itemValue">
                <span *ngFor="let skill of jobseeker.skills">{{skill}}</span>
                
            </div>
        </span>
        <span class="listItem">
            <h3>Portfolio:</h3>
            <h4 class="itemValue">{{jobseeker.portfolioLink}}</h4>
        </span>
        <span class="listItem">
            <h3>Jobs Applied:</h3>
            <h4 class="itemValue">{{jobseeker.jobList.length}}</h4>
        </span>
    </div>
  </div>
</div>
