<div class="wrapper">
  <div class="leftdiv">
    <div class="greeting">
      <h3>Welcome,</h3>
      <h1>FirstName</h1>
      <h1> LastName</h1>
    </div>
  </div>
  <div class="rightdiv">
    <div class="detailsList">
        <h5>unique id: adseijodf225298vdfi435</h5>
        <span class="listItem">
            <h3>Email:</h3>
            <h4 class="itemValue">abc@gmail.com</h4>
        </span>
        <span class="listItem">
            <h3>Password:</h3>
            <h4 class="itemValue">********</h4>
        </span>
        <span class="listItem">
            <h3>Skills:</h3>
            <div class="show-skills itemValue">
                <span>Java</span>
                <span>SQL</span>
                <span>Spring</span>
                <span>JavaScript</span>
                <span>JavaScript</span>
                <span>JavaScript</span>
                <span>JavaScript</span>
                <span>JavaScript</span>
                <span>JavaScript</span>
                <span>JavaScript</span>
                <span>JavaScript</span>
                <span>JavaScript</span>
                <span>JavaScript</span>
                <span>C++</span>
            </div>
        </span>
        <span class="listItem">
            <h3>Portfolio:</h3>
            <h4 class="itemValue">https://www.argusoft.com/</h4>
        </span>
        <span class="listItem">
            <h3>Jobs Applied:</h3>
            <h4 class="itemValue">4 sd oijodgjo ijdg jd Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur tenetur repudiandae labore perspiciatis consequuntur, dicta quae corrupti provident praesentium sint officia eum harum, velit, repellat ipsum voluptatibus temporibus recusandae similique.</h4>
        </span>
    </div>
  </div>
</div>
