<!-- <div class="card">
    <div class="title">

        <h1>Job Title</h1>
        <h3>in Location</h3>
    </div>
    <div>
        <p class="description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui odio veritatis voluptate aperiam impedit. Unde quas exercitationem ipsa culpa ipsum, fugiat obcaecati vel qui nostrum impedit, quod harum est perferendis.
        </p>
    </div>
    <button>Apply</button>
</div> -->

<div class="card">
    <img src="" alt="company-logo">
    <div>
        <h4>Job Title</h4>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur impedit qui in quis laboriosam dignissimos ratione suscipit maxime accusamus? Maxime, saepe excepturi totam veniam neque voluptatem beatae! Nobis, laborum saepe?</p>    
    </div>
    <span>
        <h6>Location</h6>
        <button><a [routerLink]="'/jobDetail'">Apply</a></button>
    </span>

</div>