<div class="body-login">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form [formGroup]="myForm!">
    <a [href]="''"><img src="../../../assets/job-hunter-low-resolution-logo-color-on-transparent-background.png" width="100"/></a>
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Email" id="username" formControlName="email"/>
    <div *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)">
      <small class="text-danger">Enter a valid email</small>
    </div>
    

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" formControlName="password"/>

    <label for="role">Role</label>
    <select name="role" id="role">
      <option value="none" selected disabled hidden>Select an Option</option>
      <option value="Recruiter">Recruiter</option>
      <option value="Job Seeker">Job Seeker</option>
    </select>
      <button>Log In</button>
    <p>Sign Up As</p>
    <div class="social">
      <div class="go"><a href="/jsr" class="link">Job Seeker</a></div>
      <div class="fb">
        <a href="/rr" class="link">Recruiter</a></div>
    </div>
  </form>
</div>
