<div class="body-login">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form>
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Email" id="username" />

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" />

    <button>Log In</button>
    <p>Sign Up As</p>
    <div class="social">
      <div class="go"><a href="/jsr">Job Seeker</a></div>
      <div class="fb">
        <a href="/rr">Recruiter</a></div>
    </div>
  </form>
</div>
