<div class="wrapper">
    <div class="leftdiv">
      <div class="greeting">
        <h3>Welcome,</h3>
        <h1 *ngFor="let name of recruiter.name.split(' ')">{{name}}</h1>
      </div>
    </div> 
    <div class="rightdiv">
      <div class="detailsList">
          <h5>unique id: {{recruiter.id}}</h5>
          <span class="listItem">
              <h3>Email:</h3>
              <h4 class="itemValue">{{recruiter.email}}</h4>
          </span>
          <span class="listItem">
              <h3>Password:</h3>
              <h4 class="itemValue">{{recruiter.password}}</h4>
          </span>
          <span class="listItem">
              <h3>Company:</h3>
              <h4 class="itemValue">{{recruiter.companyName}}</h4>
          </span>
          <span class="listItem">
              <h3>Position:</h3>
              <h4 class="itemValue">{{recruiter.position}}</h4>
          </span>
          <span class="listItem">
              <h3>Jobs Posted:</h3>
              <h4 class="itemValue">{{recruiter.jobList.length}}</h4>
          </span>
      </div>
    </div>
  </div>
  