<div class="wrapper">
    <h6 class="prodid">Job id: </h6>
    <div class="main">
        <img src="../../../assets/welcomejob.png" width="100" class="prodimg" alt="product-image">
        <div class="details">
            <div>
                <h4>Job Title</h4>
                <h6>Location</h6>
                <h6>Description</h6>    
            </div>
            <div class="buttons">
                <button class="editbutton"><span class="buttontext edittext">Edit Job Details</span><img src="/assets/material-symbols_edit-square-rounded.svg" alt="edit-icon"></button>
                <button class="deletebutton"><span class="buttontext deletetext">Remove Job</span><img src="/assets/mdi_delete-forever.svg" alt="delete-icon"></button>
            </div>
        </div>
    </div>
</div>
