<app-navbar></app-navbar>
<div class="details">
    <div class="job-description">Job Description</div>

    <div class="location">in Pune, Mumbai</div>

    <div class="job-description2">Job Description :-</div>

    <div
        class="description">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has
        roots in a piece of classical Latin literature from 45 BC, making it over
        2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words,
        consectetur, from a Lorem Ipsum passage, and going through the cites of the
        word in classical literature, discovered the undoubtable source. Lorem Ipsum
        comes from sections 1.10.32 and 1.10.33 of &quot;de Finibus Bonorum et
        Malorum&quot; (The Extremes of Good and Evil) by Cicero, written in 45 BC.
        This book is a treatise on the theory of ethics, very popular during the
        Renaissance. The first line of Lorem Ipsum, &quot;Lorem ipsum dolor sit
        amet..&quot;, comes from a line in section 1.10.32.
    </div>

    <div class="skills-required">Skills Required :</div>

    <div class="tags">Tags :</div>

    <div class="apply-link">Apply Link :</div>

    <div class="experience-needed">Experience Needed :</div>

    <div class="salary-offered">Salary offered :</div>

    <div class="skills">
        Java, Python, Spring, PostgreSQL, MySQL, Angular
    </div>

    <div class="tag">
        Java, Python, Spring, PostgreSQL, MySQL, Angular
    </div>

    <div class="exp">0 years</div>

    <div class="package">INR 7,12,000</div>

    <div class="applink">
        https://www.careers@argusoft.com/
    </div>

    <div class="title">Software Developer Job</div>

    <div class="posted">Posted : 12 hours ago</div>
</div>